<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3 footer-links">
                <h4 style="color: #fff;text-decoration:underline;">Navigations</h4>
                <ul style="list-style:none;">
                    <li><a href="{% url 'achat' %}">Achat</a></li>
                    <li><a href="{% url 'location' %}">Location</a></li>
                    <li><a href="{% url 'piece-detache' %}">Piece detachee</a></li>
                    <li><a href="">Actualités</a></li>
                </ul>
            </div>

            <div class="col-12 col-sm-6 col-md-3 footer-links">
                <h4 style="color: #fff;text-decoration:underline;">Djona</h4>
                <ul style="list-style:none;">
                    <li><a href="{% url 'rejoindre' %}">A propos de nous</a></li>
                    <li><a href="{% url 'about' %}">Nous rejoindre</a></li>
                    <li><a href="">Contacts</a></li>
                </ul>
            </div>

            <div class="col-12 col-sm-6 col-md-3 footer-links">
                <h4 style="color: #fff;text-decoration:underline;">Nos partenaires</h4>
                <ul style="list-style:none;">
                    <li><a href="#">Mc Auto Services</a></li>
                    <li><a href="#">Garage Kagnan</a></li>
                </ul>
            </div>

            <div class="col-12 col-sm-6 col-md-3 footer-links">
                <h4 style="color: #fff;text-decoration:underline;">Contactez-nous !</h4>
                <ul style="list-style: none; padding: 0;">
                    <li>
                        <i class="fas fa-phone" style="color: #fff;"></i>
                        <span style="margin-left: 10px;color: #fff;">+225 01 40 01 83 76</span>
                    </li>
                    <li style="margin-top: 10px;">
                        <i class="fas fa-envelope" style="color: #fff;"></i>
                        <span style="margin-left: 10px;color: #fff;">contact@mcautoservice.com</span>
                    </li>
                </ul>
            </div>
            

            <!-- Section de copyright -->
            <div class="row mt-4" style="border-top: thin solid #fff;">
                <div class="col text-center" style="padding-top: 15px;">
                    <p style="color: #fff;">&copy; 2024 Réalisé par Djona. Tous droits réservés.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
