<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-lg">
        <div class="container justify-content-center">
            <a class="navbar-brand fw-bold text-primary mx-auto" href="#">
                DJONA
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto text-center">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'index' %}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/achat/' %}active{% endif %}" href="{% url 'achat' %}">Achat voiture</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/location/' %}active{% endif %}" href="{% url 'location' %}">Location</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/piece-detache/1/' %}active{% endif %}" href="{% url 'piece-detache' %}">Pièce détachée</a>
                    </li>

                    <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if request.path == '/about/' %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Djona
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item {% if request.path == '/about/' %}active{% endif %}" href="{% url 'rejoindre' %}">Nous rejoindre</a></li>
                            <li><a class="dropdown-item {% if request.path == '/about/' %}active{% endif %}" href="{% url 'about' %}">À propos</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/piece-detache/1/' %}active{% endif %}" href="{% url 'piece-detache' %}">Contact</a>
                    </li>
                </ul>

                <div class="d-flex justify-content-center mt-3 mt-lg-0">
                    <a href="#" class="btn px-4" style="background:#015479;color:#fff;">
                        <i class="fa fa-car"></i>
                        Autres services
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>