<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000" style="height:730px;">
            <img src="static/image/Container.png" class="d-block w-100" alt="...">
            
            <div class="carousel-caption d-none d-md-flex justify-content-center" style="position: absolute;bottom:70px;">
                <div class="d-flex justify-content-center mt-3 mt-lg-0">
                    <a href="{% url 'location' %}" class="btn px-4" style="background:#f0822e;color:#fff;border-radius: 5px;">
                        <i class="fa fa-car"></i>
                        Les voitures en vente
                    </a>
                </div>

                <div class="d-flex justify-content-center mt-3 mt-lg-0">
                    <a href="{% url 'location' %}" class="btn px-4" style="background:#015479;color:#fff;border-radius: 5px;">
                        <i class="fa fa-car"></i>
                        Les voitures à louer
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>