<div class="row mb-3 carrosserie_tel">
    <div class="col-12 col-md-6">
        <h4 class="fw-bold">Nos parténaires</h4>
    </div>
</div><br/>


<div class="multiple-card-slider carrosserie_tel owl-carousel owl-theme my-2">
    {% for type, count in type_counts %}
    <div class="veh_next" style="padding: 5px;">
        <a href="{% url 'recherche' %}?type={{ type|lower }}" style="text-decoration: none; color:#000;">
            {% if first_image_urls|length > forloop.counter0 %}
            <div class="image-container">
                <img src="{{ first_image_urls|first }}" alt="{{ product.nom }}" class="img-fluid">
            </div>
            {% endif %}
        </a>
    </div>
    {% endfor %}
</div>

<br />

